header {
  text-align: center;
  margin: 3rem 0;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

header h1 {
  margin: 0;
  font-family: "Robot Condensed", sans-serif;
  font-size: 5 rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #0399c7, 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

header h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #9eb5b4;
}
